.sidebarCol {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--desktop) {
    align-items: flex-start;
  }
}

.tweetBtnMargin {
  margin-top: 16px;
  margin-bottom: 20px;
}

.avatarMargin {
  margin-top: auto;
  margin-bottom: 20px;
}
