.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;

  @media (--tablet) {
    grid-template-columns: auto 1fr 275px;
    max-width: 1060px;
  }

  @media (--desktop) {
    min-height: 100vh;
    max-width: 1270px;
  }
}
