.tweet {
  border-bottom: 1px solid var(--c-border-color);
  display: grid;
  width: 100%;
  grid-template-areas: 'avatar body';
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
  padding: 12px 15px;
  box-sizing: border-box;
}

.body {
  grid-area: body;
}
.avatar {
  grid-area: avatar;
}
.content {
  white-space: pre-wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.header {
  display: inline-flex;
  div + span {
    margin-left: 5px;
    color: var(--c-gray);
  }
}
.footer {
  display: flex;
  align-items: center;
}

.footerItem {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--c-gray);

  > span {
    font-size: 0.9em;
  }

  &:first-child {
    margin-left: -8px;
  }
}

.featuredWrapper{
  display: block;
  padding: 10px 0 10px 0;
}

.link{
  margin-right: auto;

}

.featuredImage{
  border-radius: 15px;
  object-fit: contain;
}

.actionBtn {
  svg {
    font-size: 19px !important;
    color: var(--c-gray);
  }
}
