.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(91, 112, 131, 0.4);
  :global(html.light){
    background-color: rgba(0, 0, 0, 0.4);
  }

  :global(html.dark){

  }
  
}

.modal {
  display: grid;
  
  grid-rows: 50px 1fr 50px;
  grid-gap: 15px;
  padding-bottom: 12px;
  background-color: var(--c-primary);
  border-radius: 16px;
  width: 100%;
  max-width: 600px;

  * + * {
    padding: 0 15px;
  }
}

.body {
  display: grid;
  grid-template-areas: 'avatar textarea';
  grid-template-columns: 50px 1fr;
  grid-gap: 15px;
}
.avatarWrapper {
  grid-area: avatar;
}

.textarea {
  grid-area: textarea;
  resize: none;
  background-color: transparent;
  outline: 0;
  color: var(--c-text-color);
  display:block;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  
}


.actionBtn {
  svg {
    font-size: 19px !important;
    color: var(--c-gray);
  }
}

.header{
  border-bottom: 1px solid var(--c-border-color);
  padding: 5px 15px;
  svg{
    font-size: 22px;
  }
}


